.label {
  margin-bottom: 4px;
  font: var(--headline-3);
}
.input {
  background-color: var(--textInputField);
  border-radius: 8px;
  height: 40px;
  font-size: var(--md);
  padding: 6px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
